@{
    ViewBag.Title = "Home";
}
    

    <seciton class="container">
        <h2>Welcome</h2>

        <p>Here you can <a asp-controller="App" asp-action="Review">review</a> the current cost of your organization's benefits. Currently it cost's &#36;1000.00 per employee. 
        For each dependent there is an additional cost of &#36;500.00. You may also <a asp-controller="App" asp-action="AddEmployee">add employees</a> to the roster.</p>

        <p>If your employee or a dependent has a name that begins with the letter <b>A</b> they recieve a 10% discount.</p>


    </seciton>
